@import "tailwindcss";

@theme {
  --color-brand: #73E046;
  --color-brand-soft: #90E098;
  --color-brand-green: #46E055;
  --color-brand-mint: #46E08A;
  --color-brand-aqua: #46E0BE;
  --color-brand-lime: #B4E046;
}

* {
  cursor: url("/images/cursor.png") 0 0, auto !important;
}
/* a,
button,
input,
select,
textarea {
  cursor: url("/public/images/cursor.png") 5 5, auto;
} */